@font-face {
   
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}
*{
    padding: 2;
    margin: 0;
}
body{
    
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
}


nav{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.7), rgba(0,0,0,.9)), url('../images/2W.PNG');
    object-fit: cover;
    background-size: cover;
    background-position: center;
}


nav header{
    width: 50%;
    height: 58px;
    background:#683361;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 15px rgba(141, 141, 141, 0.9);
    transition: width .7s ease-in-out;
    -webkit-transition: width .7s ease-in-out;
    -moz-transition: width .7s ease-in-out;
    -ms-transition: width .7s ease-in-out;
    -o-transition: width .7s ease-in-out;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
nav header .menu{
    width: 50%;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

nav header .menu ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  
    justify-content: space-between;
}

nav header .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 5px 120px 0px 120px;
}

nav header .logo{
    background: white;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

nav header .logo img{
    width: 65px;
    padding:10px 15px 0px 15px 0px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

nav header .logo :hover{
    width: 120px;
    margin-top: 10px;
    
}
section{
    margin-top: 100px;
    padding: 0 200px;
    color: #ccc;
}

ul li a div.active{
     background:#92868e;
     height: 56px;
     width:80px ;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 2%;
     -webkit-border-radius: 2%;
     -moz-border-radius: 2%;
     -ms-border-radius: 2%;
     -o-border-radius: 2%;
}

ul li a div:hover{
    background:#eca6d6;
    height: 56px;
    width:80px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.introduction{
    position: fixed;
     top:300px;
    left:400px;
    font-size: 40px;
    
    
}


.sentance{

    color: #fff;
    font-weight: bold;
    text-shadow: 3px 3px #683361;
    
}
h3.sentance::after{
    content: '';
    background: #683361;
    border-left: 4px solid #683361;
    margin-left: 5px;
    animation: blink .3s infinite ease;
    -webkit-animation: blink .3s infinite ease;
    
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.about{
    position: relative;
    width: 1518px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(209 242 246 / 70%), rgb(255 209 158 / 90%));
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.about1{
    position: relative;
    padding: 25px 25px 900px 650px;
    text-align: left;
    text-align: left;
    
}
.aboutSentance{

    color:#22543f;
    font-weight: bold;
    font-size: 40px;
    padding: 25px 25px 900px 25px;
    text-align: left;
    
}

.aboutImg{

    position: absolute;
    top: 85px;
    left: 70px;
     
}

.AboutText{

    position: absolute;
    top: 200px;
    left: 700px;
    right: 100px;
    font-weight: bold;
    font-size: 20px;
    
}

.text{

    text-align: justify;
    text-align: left;
    text-align-last: center;
    color: #3f0441;

}